<section id="about" class="about white-bg page-section">
 <div class="container-fluid">
   <div class="row">
   	 <div class="col-lg-4 col-md-4 col-sm-4">
   	   <div class="about-image">
   	   	 <img class="img-responsive" src="assets/images/me.jpg" alt="">
   	   </div>
   	   <div class="about-social">
   	   	 <ul>
   	   	  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i> </a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i> </a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
          <li><a href="#"><i class="fa fa-behance"></i> </a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
   	   	 </ul>
   	   </div>
   	 </div>
   	 <div class="col-lg-8 col-md-8 col-sm-8">
   	 	<div class="section-title">
   	 	  <div class="section-title-name">
   	 	  	<span>Know about me</span>
   	 	  	<h2>About Me</h2>
   	 	  </div>
   	 	  <div class="title-name-gray">
   	 	  	<strong>About me</strong>
   	 	  </div>
   	 	</div>
   	 	<div class="contact-block">
   	 	 <div class="row">
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-user"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Name:</h4>
   	 	 				<p>Piotr Kowalski</p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-email"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Email:</h4>
   	 	 				<p><a href="mailto:mail@piotrkowalski.spam" id="unspamMail">ofni.ikslawokrtoip@liam</a></p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-mobile"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Phone:</h4>
   	 	 				<p>hidden</p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 </div>
   	 	 <div class="row">
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-calendar"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Date of birth: </h4>
   	 	 				<p>25 April 1982</p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-direction-alt"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Address: </h4>
   	 	 				<p>Poland</p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 			 <span class="ti-flag-alt-2"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Nationality: </h4>
   	 	 				<p>Polish</p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 </div>
   	 	 <div class="row">
   	 	 	<div class="col-lg-12 col-md-12">
   	 	 	  <div class="about-block clearfix">
          <p>An IT professional with <b>over 15 years of experience</b> working in a variety of technology fields including Internet Technologies, Automation, Software Development Operations, Enterprise Storage, Clusters, Testing and Unix/Linux Administration.

          <p>An <b>MSc Eng in Electronics and Telecommunications</b>, <b>Digital Signal Processing</b> from Wroclaw University of Science and Technology.</p>

          <p>A <b>Postgraduate in Project Management</b> from Wroclaw School of Banking.</p>

          <p>Professionally I have done work for a variety of major organizations including LG, SIEMENS, Sagemcom, Gigaset, Affinegy, KPN, CAT Thailand, France Telecom, Telkom South Africa, Orange Mauritius, VOCUS NZ, TwinLakes and GVTC.</p>
   	 	 		<img class="pull-right" src="assets/images/signature.png" width="250" alt="signature">
   	 	 	</div>
   	 	   </div>
   	 	 </div>
   	 	</div>
   	 </div>
   </div>
 </div>
</section>
