<!--=================================
 default-head.html -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{% include default-head-seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- Theme color Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2f3742">
<!-- Theme color Windows Phone -->
<meta name="msapplication-navbutton-color" content="#2f3742">
<!-- Theme color iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2f3742">

<!-- Favicon -->
<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" />
{% include default-head-favicon.html %}

{% include default-head-style.html %}

</head>
<!--=================================
 default-head.html -->