<!--=================================
 default-scripts.html -->
<script src="/assets/js/jquery.min.js"></script>

<!-- modernizr -->
<script src="/assets/js/modernizr.min.js"></script>

<!-- Plugins -->
<script src="/assets/js/plugins.js"></script>

<!-- map script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjVoaCW3PAn52C7WPpJ7NBBqU1_TUfnSI"></script>
<script src="/assets/js/map-scripts.js"></script>

<!-- datepicker -->
<script src="/assets/js/datepicker-script.js"></script>

<!-- custom -->
<script src="/assets/js/custom.js"></script>

<!-- disqus -->
<script id="dsq-count-scr" src="//piotrkowalski.disqus.com/count.js" async></script>

<!-- recaptcha -->
<script src='https://www.google.com/recaptcha/api.js'></script>

<!-- Analytics -->
{% include analytics.html %}
<!--=================================
 default-scripts.html -->