<!--=================================
 home-portfolio.html -->
<section id="portfolio" class="portfolio white-bg page-section">
 <div class="container-fluid">
   <div class="row">
  <div class="col-lg-12 col-md-12">
   <div class="section-title">
       <div class="section-title-name">
          <span>My Featured Work</span>
            <h2>My Portfolio</h2>
        </div>  
        <div class="title-name-gray">
        <strong>My Portfolio</strong>
       </div>
     </div>
  </div>
   </div> 
 <div class="row">
       <div class="col-lg-12 col-md-12">
     <div class="isotope-filters text-left">
          <button data-filter="" class="active"> View All <span>/</span></button> 
          <button data-filter=".web-design"> Web Design <span>/</span></button>
          <button data-filter=".graphic-design">Graphic Design <span>/</span></button>
          <button data-filter=".website-templates">Website Templates </button>
       </div>
    </div>
  </div>  
  <div class="isotope popup-portfolio full-screen">
    <div class="grid-item web-design graphic-design">
      <div class="portfolio-item">
     <div class="item">
      <div class="item-hover">
          <div class="item-inner">
        <img class="img-responsive" src="assets/images/portfolio/01.jpg" alt=""></div>
         <div class="item-info">
         <a href="#">  work item one</a>
          <span>by Piotr Kowalski</span>
          <div class="item-link">
           <a class="portfolio-img" href="assets/images/portfolio/01.jpg"><span class="ti-plus"></span></a>
           <a href="portfolio-single.html"><span class="ti-link"></span></a>
          </div>
           </div>
        </div>
       </div>      
        </div>
    </div>
    <div class="grid-item web-design">
      <div class="portfolio-item">
     <div class="item">
      <div class="item-hover">
          <div class="item-inner">
        <img class="img-responsive" src="assets/images/portfolio/02.jpg" alt=""></div>
         <div class="item-info">
         <a href="#">  work item one</a>
          <span>by Piotr Kowalski</span>
          <div class="item-link">
           <a class="portfolio-img" href="assets/images/portfolio/02.jpg"><span class="ti-plus"></span></a>
           <a href="portfolio-single.html"><span class="ti-link"></span></a>
          </div>
           </div>
        </div>
       </div>      
        </div>
    </div>
     <div class="grid-item website-templates">
        <div class="portfolio-item">
     <div class="item">
      <div class="item-hover">
          <div class="item-inner">
        <img class="img-responsive" src="assets/images/portfolio/03.jpg" alt=""></div>
         <div class="item-info">
         <a href="#">  work item one</a>
          <span>by Piotr Kowalski</span>
          <div class="item-link">
           <a class="portfolio-img" href="assets/images/portfolio/03.jpg"><span class="ti-plus"></span></a>
           <a href="portfolio-single.html"><span class="ti-link"></span></a>
          </div>
           </div>
        </div>
       </div>      
        </div>  
    </div>
    <div class="grid-item graphic-design">
      <div class="portfolio-item">
     <div class="item">
      <div class="item-hover">
          <div class="item-inner">
        <img class="img-responsive" src="assets/images/portfolio/04.jpg" alt=""></div>
         <div class="item-info">
         <a href="#">  work item one</a>
          <span>by Piotr Kowalski</span>
          <div class="item-link">
           <a class="portfolio-img" href="assets/images/portfolio/04.jpg"><span class="ti-plus"></span></a>
           <a href="portfolio-single.html"><span class="ti-link"></span></a>
          </div>
           </div>
        </div>
       </div>      
        </div>
    </div>
    <div class="grid-item web-design">
      <div class="portfolio-item">
     <div class="item">
      <div class="item-hover">
          <div class="item-inner">
        <img class="img-responsive" src="assets/images/portfolio/05.jpg" alt=""></div>
         <div class="item-info">
         <a href="#">  work item one</a>
          <span>by Piotr Kowalski</span>
          <div class="item-link">
           <a class="portfolio-img" href="assets/images/portfolio/05.jpg"><span class="ti-plus"></span></a>
           <a href="portfolio-single.html"><span class="ti-link"></span></a>
          </div>
           </div>
        </div>
       </div>      
        </div>  
    </div>
    <div class="grid-item">
      <div class="portfolio-item">
     <div class="item">
      <div class="item-hover">
          <div class="item-inner">
        <img class="img-responsive" src="assets/images/portfolio/06.jpg" alt=""></div>
         <div class="item-info">
         <a href="#">  work item one</a>
          <span>by Piotr Kowalski</span>
          <div class="item-link">
           <a class="portfolio-img" href="assets/images/portfolio/06.jpg"><span class="ti-plus"></span></a>
           <a href="portfolio-single.html"><span class="ti-link"></span></a>
          </div>
           </div>
        </div>
       </div>      
        </div>
    </div>
    <div class="grid-item website-templates">
      <div class="portfolio-item">
     <div class="item">
      <div class="item-hover">
          <div class="item-inner">
        <img class="img-responsive" src="assets/images/portfolio/07.jpg" alt=""></div>
         <div class="item-info">
         <a href="#">  work item one</a>
          <span>by Piotr Kowalski</span>
          <div class="item-link">
           <a class="portfolio-img" href="assets/images/portfolio/07.jpg"><span class="ti-plus"></span></a>
           <a href="portfolio-single.html"><span class="ti-link"></span></a>
          </div>
           </div>
        </div>
       </div>      
        </div> 
    </div>
      <div class="grid-item website-templates">
        <div class="portfolio-item">
     <div class="item">
      <div class="item-hover">
          <div class="item-inner">
        <img class="img-responsive" src="assets/images/portfolio/08.jpg" alt=""></div>
         <div class="item-info">
         <a href="#">  work item one</a>
          <span>by Piotr Kowalski</span>
          <div class="item-link">
           <a class="portfolio-img" href="assets/images/portfolio/08.jpg"><span class="ti-plus"></span></a>
           <a href="#"><span class="ti-link"></span></a>
          </div>
           </div>
        </div>
       </div>      
      </div>  
    </div>
   </div>
  </div>
</section>
<!--=================================
 home-portfolio.html -->