<!--=================================
  home-resume.html -->
<section id="resume" class="resume white-bg page-section">
 <div class="container-fluid">
   <div class="row">
  <div class="col-lg-12 col-md-12">
   <div class="section-title">
       <div class="section-title-name">
          <span>My Work Experience</span>
            <h2>Resume</h2>
        </div>  
        <div class="title-name-gray">
        <strong>Resume</strong>
       </div>
     </div>
  </div>
   </div> 
   <div class="row">
  <div class="col-lg-12 col-md-12">
    <h2>Experience : </h2>
    </div>
   </div>
 <div class="resume-block">
   <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="resume-icon">
      <span class="ti-ruler-pencil"></span>
      </div>
      <div class="resume-name">
        <h3>Website Solutions Pvt. Ltd</h3>
        <span>2013 to present</span>
      </div>
    </div> 
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="resume-info"> 
        <h3>Front-End Development</h3>
        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip exea. commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </p>
      </div>
    </div>
    </div>
   </div>
   <div class="resume-block">
   <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="resume-icon">
      <span class="ti-bookmark-alt"></span>
      </div>
      <div class="resume-name">
        <h3>Global Solutions</h3>
        <span>2010 to 2013</span>
      </div>
    </div> 
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="resume-info"> 
        <h3>UI/UX Design</h3>
        <p>Ut enim ad minim niam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea. commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      </div>
    </div>
    </div>
   </div>
   <div class="resume-block">
   <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="resume-icon">
      <span class="ti-calendar"></span>   
      </div>
      <div class="resume-name">
        <h3>Template Agency</h3>
        <span>2009 to 2010</span>
      </div>
    </div> 
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="resume-info"> 
        <h3>Website production</h3>
        <p>Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim niam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea. </p>
      </div>
    </div>
    </div>
   </div>
   <div class="row">
  <div class="col-lg-12 col-md-12">
    <h2>Education : </h2>
    </div>
   </div>
 <div class="resume-block">
   <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="resume-icon">
      <span class="ti-crown"></span>
      </div>
      <div class="resume-name">
        <h3>University of London</h3>
        <span>2008 to 2009</span>
      </div>
    </div> 
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="resume-info"> 
        <h3>Computer science</h3>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim niam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea. commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
      </div>
    </div>
    </div>
   </div>
   <div class="resume-block clearfix">
   <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="resume-icon">
      <span class="ti-thumb-up"></span>   
      </div>
      <div class="resume-name">
        <h3>Institue of art & Design</h3>
        <span>2007 to 2009</span>
      </div>
    </div> 
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="resume-info"> 
        <h3>Software engineering</h3>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim niam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea. commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      </div>
    </div>
    </div>
   </div>
 </div>
</section>
<!--=================================
  home-resume.html -->