<!--=================================
  home-resume.html -->
<section id="resume" class="resume white-bg page-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title">
          <div class="section-title-name">
            <span>My Work Experience</span>
            <h2>Resume</h2>
          </div>
          <div class="title-name-gray">
            <strong>Resume</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2>Experience : </h2>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-location-pin"></span>
          </div>
          <div class="resume-name">
            <h3>Soltiago</h3>
            <span>2017 to Present</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>Senior System Test Engineer / DevOps</h3>
            <p>Linux based server-side applications software tester with Oracle and PostgreSQL databases technology. Load, Stress and Performance tests.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-signal"></span>
          </div>
          <div class="resume-name">
            <h3>Affinegy Inc., USA</h3>
            <span>2012 to 2017</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>Senior System Test Engineer / DevOps</h3>
            <p>Linux based server-side applications software tester with Oracle and PostgreSQL databases technology. Load, Stress and Performance tests.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-shield"></span>
          </div>
          <div class="resume-name">
            <h3>Softexor</h3>
            <span>2010 to 2012</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>Senior System Test Engineer / Senior Software QA</h3>
            <p>Linux based server-side applications software tester with Oracle and PostgreSQL databases technology. Load, Stress and Performance tests.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-rss"></span>
          </div>
          <div class="resume-name">
            <h3>Gigaset</h3>
            <span>2008 to 2010</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>Senior System Test Engineer / Senior Software QA</h3>
            <p>Linux based server-side applications software tester with Oracle and PostgreSQL databases technology. Load, Stress and Performance tests.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-server"></span>
          </div>
          <div class="resume-name">
            <h3>SIEMENS</h3>
            <span>2007 to 2008</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>System Test Engineer at Broadband Division</h3>
            <p>Linux based server-side applications software tester with Oracle and PostgreSQL databases technology. Load, Stress and Performance tests.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-desktop"></span>
          </div>
          <div class="resume-name">
            <h3>LG CNS Europe / LG Philips LCD</h3>
            <span>2007</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>System Administrator</h3>
            <p>I started my journey at LG when I was hired to be the main System Administrator in a newly built factory of LCD screens - the biggest in Europe.<br>
              I was chosen by my communication skills, open mind for different culture and my skills for managing Unix and Linux systems and clusters.<br>
              Starting with the Korean team of engineers and local hardware vendors we were installing equipment in the new server room for the factory Data Center.<br>
              The task needed a knowledge of both hardware and software as well as High Availability solutions starting with power supply through network, finishing on air conditioning. Everything redundant.<br>
              Due to the good work and my involvement, I became a leader of Infra Team - managing the Server Room and a team of Network and Security Admins.</p>
              <h4>My Role and Responsibilites:</h4>
              <p>- Leader of Infra-Team - Reporting to IT Management and Headquarter in South Korea<br>
                 - High Availability of Services and Apps for production line<br>
                 - Hardware and OS monitoring including HP XP12000 Disk Arrays, Backup Tape Libraries, and enterprise class servers HP rp7420, IBM p550 55A, HP DL580, HP DL380, IBM X3850, IBM X346<br>
                 - Production and development servers OS monitoring and configuration<br>
                 - Backups scheduling and maintenance<br>
                 - Extensive knowledge of HP-UX, IBM AIX, NT (windows 2003 servers), CentOS and Red Hat EL Linux<br>
                 - SPOC (Single Point of Contact) for hardware and software Vendors (HP, IBM)<br>
                 - Negotiating the support contracts with vendors<br>
                 - Cooperation with supporting engineers, remote diagnosis etc.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-world"></span>
          </div>
          <div class="resume-name">
            <h3>Vena International</h3>
            <span>2002 to 2007</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>IT Specialist</h3>
            <p>I was hired to be an IT specialist and Web Developer for the company website.</p>
            <p>My duties were also a Help desk, Web Master and Polish – English translator.</p>
            <h4>Achievements</h4>
            <p>- Installed the latest OS on all desktops and configured the LAN with shared folders for the employees.<br>
              - Introduced and configured the shared screen and remote support solution.<br>
              - Moved the company website to a new hosting provider.<br>
              - Rebuilt the website to use the CMS.<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2>Voluntary Work : </h2>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-server"></span>
          </div>
          <div class="resume-name">
            <h3>Wroclaw University of Science and Technology</h3>
            <span>2005 to 2006</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>Lab Administrator</h3>
            <p>During my work on Master Thesis I took care of the Lab of 18 Workstations.</p>
            <p>My role was to create an automatic installation of SCO Unix and Linux Systems and deployment of latest software and updates from local repositories.</p>
            <h4>Achievements</h4>
            <p>- Successfully created the dual boot configuration and automatic PXE boot of OS installation on demand<br>
              - Prepared the customized kernel to allow setup of Single System Image Open Mosix Cluster<br>
              - Built a cluster used by the Institute for research on parallel processing of digital signals<br>
              - <span class="ti-medall-alt"></span>  <b>Using a self made computing cluster, I defended my Master's thesis</b><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-book"></span>
          </div>
          <div class="resume-name">
            <h3>III High School in Kalisz</h3>
            <span>1999 to 2001</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>DTP - Editor / Web Developer</h3>
            <p>Due to my involvement and Web Development skills during my work on high school's webiste, I was hired to create official website of the newspaper.</p>
            <p>Occasionally I wrote articles about science discoveries.</p>
            <h4>Achievements</h4>
            <p>- Magazine website with the archives            
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-world"></span>
          </div>
          <div class="resume-name">
            <h3>III High School in Kalisz</h3>
            <span>1997 to 2001</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>Web Developer and Administrator</h3>
            <p>My voluntary work for High School focused on Web Development of the official website which was self hosted on self made Linux host with Apache Server.</p>
            <p>My role was also a support and configuration of main Router, ISP's Server, LAN and Workstations Assistance and Administration.</p>
            <h4>Achievements</h4>
            <p>- Successfully created the first dynamic website with self made simple CMS for adding content (Perl scripting)<br>
              - Replaced the old BNC LAN to switched Ethernet network<br>
              - <span class="ti-medall-alt"></span>  <b>Won the Best Website Award in 2001</b><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2>Education : </h2>
      </div>
    </div>
    <div class="resume-block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-crown"></span>
          </div>
          <div class="resume-name">
            <h3>University of London</h3>
            <span>2008 to 2009</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>Computer science</h3>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim niam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea. commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-block clearfix">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="resume-icon">
            <span class="ti-thumb-up"></span>
          </div>
          <div class="resume-name">
            <h3>Institue of art & Design</h3>
            <span>2007 to 2009</span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="resume-info">
            <h3>Software engineering</h3>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim niam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea. commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
  home-resume.html -->