{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<!--=================================
  home-about.html -->
<section id="about" class="about white-bg page-section">
 <div class="container-fluid">
   <div class="row">
   	 <div class="col-lg-4 col-md-4 col-sm-4">
   	   <div class="about-image">
   	   	 <img class="img-responsive" src="{{ site.baseurl }}/assets/images/me.jpg" alt="">
   	   </div>
   	   <div class="about-social">
   	   	 <ul>
          {% if author.keybase %}
            <li>
              <a href="https://keybase.io/{{ author.keybase }}" >
                <i class="fa fa-key"></i>
              </a>
            </li>
          {% endif %}
          {% if author.twitter %}
            <li>
              <a href="https://twitter.com/{{ author.twitter }}" >
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          {% endif %}
          {% if author.facebook %}
            <li>
              <a href="https://www.facebook.com/{{ author.facebook }}" >
                <i class="fa fa-facebook"></i>
              </a>
            </li>
          {% endif %}
          {% if author.google_plus %}
            <li>
              <a href="https://plus.google.com/{{ author.google_plus }}" >
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
          {% endif %}
          {% if author.linkedin %}
            <li>
              <a href="https://www.linkedin.com/in/{{ author.linkedin }}" >
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          {% endif %}
          {% if author.xing %}
            <li>
              <a href="https://www.xing.com/profile/{{ author.xing }}" >
                <i class="fa fa-xing"></i>
              </a>
            </li>
          {% endif %}
          {% if author.instagram %}
            <li>
              <a href="https://instagram.com/{{ author.instagram }}" >
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          {% endif %}
          {% if author.tumblr %}
            <li>
              <a href="https://{{ author.tumblr }}.tumblr.com" >
                <i class="fa fa-tumblr"></i>
              </a>
            </li>
          {% endif %}
          {% if author.bitbucket %}
            <li>
              <a href="https://bitbucket.org/{{ author.bitbucket }}" >
                <i class="fa fa-bitbucket"></i>
              </a>
            </li>
          {% endif %}
          {% if author.github %}
            <li>
              <a href="https://github.com/{{ author.github }}" >
                <i class="fa fa-github"></i>
              </a>
            </li>
          {% endif %}
          {% if author.gitlab %}
            <li>
              <a href="https://gitlab.com/{{ author.gitlab }}" >
                <i class="fa fa-gitlab"></i>
              </a>
            </li>
          {% endif %}
          {% if author.stackoverflow %}
            <li>
              <a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}" >
                <i class="fa fa-stack-overflow"></i>
              </a>
            </li>
          {% endif %}
          {% if author.lastfm %}
            <li>
              <a href="https://last.fm/user/{{ author.lastfm }}" >
                <i class="fa fa-lastfm"></i>
              </a>
            </li>
          {% endif %}
          {% if author.dribbble %}
            <li>
              <a href="https://dribbble.com/{{ author.dribbble }}" >
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
          {% endif %}
          {% if author.pinterest %}
            <li>
              <a href="https://www.pinterest.com/{{ author.pinterest }}" >
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
          {% endif %}
          {% if author.foursquare %}
            <li>
              <a href="https://foursquare.com/{{ author.foursquare }}" >
                <i class="fa fa-foursquare"></i>
              </a>
            </li>
          {% endif %}
          {% if author.steam %}
            <li>
              <a href="https://steamcommunity.com/id/{{ author.steam }}" >
                <i class="fa fa-steam"></i>
              </a>
            </li>
          {% endif %}
          {% if author.youtube %}
            {% if author.youtube contains "://" %}
              <li>
                <a href="{{ author.youtube }}" >
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            {% else author.youtube %}
              <li>
                <a href="https://www.youtube.com/user/{{ author.youtube }}" >
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            {% endif %}
          {% endif %}
          {% if author.soundcloud %}
            <li>
              <a href="https://soundcloud.com/{{ author.soundcloud }}" >
                <i class="fa fa-soundcloud"></i>
              </a>
            </li>
          {% endif %}
          {% if author.weibo %}
            <li>
              <a href="https://www.weibo.com/{{ author.weibo }}" >
                <i class="fa fa-weibo"></i>
              </a>
            </li>
          {% endif %}
          {% if author.flickr %}
            <li>
              <a href="https://www.flickr.com/{{ author.flickr }}" >
                <i class="fa fa-flickr"></i>
              </a>
            </li>
          {% endif %}
          {% if author.codepen %}
            <li>
              <a href="https://codepen.io/{{ author.codepen }}" >
                <i class="fa fa-codepen"></i>
              </a>
            </li>
          {% endif %}
          {% if author.vine %}
            <li>
              <a href="https://vine.co/u/{{ author.vine }}" >
                <i class="fa fa-vine"></i>
              </a>
            </li>
          {% endif %}
   	   	 </ul>
   	   </div>
   	 </div>
   	 <div class="col-lg-8 col-md-8 col-sm-8">
   	 	<div class="section-title">
   	 	  <div class="section-title-name">
   	 	  	<span>Know about me</span>
   	 	  	<h2>About Me</h2>
   	 	  </div>
   	 	  <div class="title-name-gray">
   	 	  	<strong>About me</strong>
   	 	  </div>
   	 	</div>
   	 	<div class="contact-block">
   	 	 <div class="row">
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-user"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Name:</h4>
   	 	 				<p>{{ author.name }}</p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-email"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Email:</h4>
   	 	 				<p><a href="mailto:mail@piotrkowalski.spam" id="unspamMail">ofni.ikslawokrtoip@liam</a></p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-mobile"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Phone:</h4>
   	 	 				<p>hidden</p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 </div>
   	 	 <div class="row">
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-calendar"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Date of birth: </h4>
   	 	 				<p>1982</p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-direction-alt"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Address: </h4>
   	 	 				<p>Poland, EU</p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 			 <span class="ti-flag-alt-2"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Nationality: </h4>
   	 	 				<p>Polish</p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 </div>
   	 	 <div class="row">
   	 	 	<div class="col-lg-12 col-md-12">
   	 	 	  <div class="about-block clearfix">
          <p>An IT professional with <b>over 15 years of experience</b> working in a variety of technology fields including Internet Technologies, Automation, Software Development Operations, Enterprise Storage, Clusters, Testing and Unix/Linux Administration.

          <p>An <b>MSc Eng in Electronics and Telecommunications</b>, <b>Digital Signal Processing</b> from Wroclaw University of Science and Technology.</p>

          <p>A <b>Postgraduate in Project Management</b> from Wroclaw School of Banking.</p>

          <p>Professionally I have done work for a variety of major organizations including LG, SIEMENS, Sagemcom, Gigaset, Affinegy, KPN, CAT Thailand, France Telecom, Telkom South Africa, Orange Mauritius, VOCUS NZ, TwinLakes and GVTC.</p>
   	 	 		<img class="pull-right" src="assets/images/signature.svg" width="350" alt="signature">
   	 	 	</div>
   	 	   </div>
   	 	 </div>
   	 	</div>
   	 </div>
   </div>
 </div>
</section>
<!--=================================
  home-about.html -->