<!--=================================
  portfolio-intro.html -->
  <div class="page-header bg gradient-01">
      <div class="container-fluid">
      <div class="row">
        <div class="top-bar clearfix">
          <div class="back-home pull-left">
            <a href="index.html"><span class="ti-angle-left"></span> back to home</a>
          </div>
          <ul class="breadcrumb pull-right">
            <li><a href="index.html"><span class="ti-home"></span> Home</a></li>
            <li class="active">Portfolio single</li>        
          </ul>
        </div>
        <div class="page-header-title">
           <h1>Portfolio single page</h1>
           <span>By Piotr Kowalski </span>
        </div>
       </div>
    </div>
  </div>
<!--=================================
  portfolio-intro.html -->