<!--=================================
post-intro.html -->
<div class="page-header bg gradient-01">
  <div class="container-fluid">
    <div class="row">
      <div class="top-bar clearfix">
        <div class="back-home pull-left">
          <a href="index.html"><span class="ti-angle-left"></span> back to blog</a>
        </div>
        <ul class="breadcrumb pull-right">
          <li><a href="/"><span class="ti-home"></span> Home</a></li>
          <li><a href="/blog/"> Blog</a></li>
          <li class="active">Blog single</li>
        </ul>
      </div>
      <div class="page-header-title">
        <h1>standard post with image</h1>
        <div class="blog-meta">
          <p><span class="ti-comment-alt"></span> <a href="#">4</a></p>
          <p><span class="ti-user"></span> <a href="#">Admin </a></p>
          <p><span class="ti-folder"></span> <a href="#">Web development</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=================================
post-intro.html -->