<!--=================================
post -->
<section class="blog blog-single white-bg page-section-pt" id="post">

  <article itemscope itemtype="http://schema.org/CreativeWork">

    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9 col-md-9">
          <div class="owl-carousel-1">
            <div class="item"> <img src="https://via.placeholder.com/1920x600/aaa" alt=""> </div>
            <div class="item"> <img src="https://via.placeholder.com/1920x600/bbb" alt=""> </div>
            <div class="item"> <img src="https://via.placeholder.com/1920x600/ccc" alt=""> </div>
          </div>
          <div class="content" id="content">
            {{ content }}
            <hr>
          </div>
          {% include post_pagination.html %}
          <!--=================================
            blog-comments -->
          <div class="blog-comments">
            <div class="comments-1">
              <div class="comments-photo">
                <img class="img-responsive" src="/assets/images/testimonials/01.jpg" alt="">
              </div>
              <div class="comments-info">
                <h4 class="text-blue"> Michael Bean <span>Sep 15, 2016</span></h4>
                <div class="port-post-social pull-right">
                  <a href="#">Reply</a>
                </div>
                <p>Imagine you are 10 years into the future but this time it’s different. Why? Because starting today you actually begin making changes in your life. Specific intentional changes are not easy. They are intentional because these changes are changes that you are choosing and they are the changes that will cause you to live the life you want to live and dream.</p>
              </div>
            </div>
            <div class="comments-1 comments-2">
              <div class="comments-photo">
                <img class="img-responsive" src="/assets/images/testimonials/05.jpg" alt="">
              </div>
              <div class="comments-info">
                <h4 class="text-blue"> Paul Flavius <span>Oct 21, 2016</span></h4>
                <div class="port-post-social pull-right">
                  <a href="#">Reply</a>
                </div>
                <p> They often mean leaving the perception of security in order to discover your personal freedom. These are the changes that will bring happiness and satisfaction into your life. Just go there now. 10 years out… having made a decade of changes.</p>
              </div>
            </div>
            <div class="comments-1 comments-2">
              <div class="comments-photo">
                <img class="img-responsive" src="/assets/images/testimonials/03.jpg" alt="">
              </div>
              <div class="comments-info">
                <h4 class="text-blue"> Michael Bean <span>Oct 20, 2016</span></h4>
                <div class="port-post-social pull-right">
                  <a href="#">Reply</a>
                </div>
                <p>Imagine living the life you want to live. How does that feel inside? Do you feel that you have lived life? See the people of your life and how they feel about you and how they react to you. </p>
              </div>
            </div>
            <div class="comments-1">
              <div class="comments-photo">
                <img class="img-responsive" src="/assets/images/testimonials/04.jpg" alt="">
              </div>
              <div class="comments-info">
                <h4 class="text-blue"> Joana Williams <span>Oct 02, 2016</span></h4>
                <div class="port-post-social pull-right">
                  <a href="#">Reply</a>
                </div>
                <p>This is the path of a different choice, a different decision. You have the freedom to be how you want to be. Absorb all you need from this moment in your future and the positive things that you can learn consciously and unconsciously and then drift and float back to the place where the path splits. Step Six: Now that you know and have experienced the two contrasting futures. Now that you know what your future holds as a result of what you do this very day.</p>
              </div>
            </div>
          </div>
          <!--=================================
            blog-comments -->
          <div class="contact-form clearfix">
            <h3>Leave a Reply </h3>
            <div class="section-field">
              <input type="text" name="name" placeholder="Name*" >
            </div>
            <div class="section-field">
              <input type="email" name="email" placeholder="Email*" id="email">
            </div>
            <div class="section-field">
              <input type="text" name="web" placeholder="Web*" class="web" id="web">
            </div>
            <div class="section-field textarea">
              <textarea name="message" rows="7" placeholder="Comment*" class="input-message" id="message"></textarea>
            </div>
            <a href="#">Post comment </a>
          </div>

        </div>
        <!--=================================
        blog-sidebar -->
        <div class="col-lg-3 col-md-3">
          <div class="slidebar">
            <div class="author" id="author">
              <div class="author-details">
                <div class="author-avtar">
                  <img class="img-responsive" src="/assets/images/my-photo.jpg" alt="">
                </div>
                <div class="author-name">
                  <h4>Piotr Kowalski</h4>
                  <b>DEVOPS / ADMIN <br /> WEB DEVELOPER</b>
                </div>
              </div>
              <div class="author-content">
                <p> Hello, i am UI/UX Designer Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
              </div>
            </div>
            <div class="slidebar-share">
              <h4>share post : </h4>
              <ul>
                <li>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}"  onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="slidebar-link">
              <h3>Categories</h3>
              <ul>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Education</a></li>
              </ul>
            </div>
            <div class="slidebar-post">
              <h3>Popular Posts</h3>
              <div class="post">
                <a href="#">Hypnotherapy For Motivation Getting The Drive Back</a>
                <span>Monday / jan 10, 2016 </span>
              </div>
              <div class="post">
                <a href="#">When You Are Down And Out How Do You Get Up And Go Forward</a>
                <span>Monday / Feb 10, 2016 </span>
              </div>
              <div class="post">
                <a href="#">How I Lost The Secret Of Dazzling Success For 20 Years</a>
                <span>Monday / Mar 10, 2016 </span>
              </div>
              <div class="post">
                <a href="#">Hypnotherapy For Motivation Getting The Drive Back</a>
                <span>Monday / Apr 10, 2016 </span>
              </div>
            </div>
            <div class="slidebar-link">
              <h3>Categories</h3>
              <ul>
                <li><a href="#">January 2016 </a></li>
                <li><a href="#">February 2016 </a></li>
                <li><a href="#">March 2016 </a></li>
                <li><a href="#">April 2016 </a></li>
                <li><a href="#">May 2016 </a></li>
                <li><a href="#">June 2016 </a></li>
              </ul>
            </div>
            <div class="slidebar-tag">
              <h3>Tag Cloud</h3>
              <ul>
                <li><a href="#">advertisement </a></li>
                <li><a href="#">nature</a></li>
                <li><a href="#">Wordpress</a></li>
                <li><a href="#">Forest </a></li>
                <li><a href="#">Website </a></li>
                <li><a href="#">Green</a></li>
                <li><a href="#">blue </a></li>
                <li><a href="#">love</a></li>
                <li><a href="#">creative</a></li>
                <li><a href="#">photography</a></li>
              </ul>
            </div>
            <div class="slidebar-widget">
              <h3>Text Widget</h3>
              <p>This is text widget Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            </div>
          </div>
        </div>
        <!--=================================
        blog-sidebar -->
      </div>
    </div>

  </article>

</section>
<!--=================================
post -->