<!--=================================
post-header.html -->


<header class="header">
  <nav id="menu" class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ baseurl }}/"> <img id="logo_img" src="{{ baseurl }}/assets/images/logo.png" alt="Home"> </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ baseurl }}/">Home</a></li>
        <li><a href="{{ baseurl }}/blog/">Blog </a></li>
        <li class="active"><a href="{{ baseurl }}/blog-single.html">Blog single</a></li>
        <li><a href="{{ baseurl }}/portfolio-single/">Portfolio single</a></li>
        <li><a href="{{ baseurl }}/404.html">Error 404</a></li>
      </ul>
    </div>
  </nav>
</header>
<!--=================================
post-header.html -->