---
layout: default
---

 <!--=================================
  layout: 404.html -->
  <div class="error-bg gradient-01" style="background: url('{{ site.baseurl }}/assets/images/bg/02_1920x1280.png');">
   <div class="error">
     <div class="error-contact">
      <div class="container">
      <div class="row">
       <div class="col-md-offset-3 col-md-6 text-center">
        {{ content }}
         <div class="button">
           <a href="{{ site.baseurl }}/"><span class="ti-home"></span> return home</a>
         </div>
        </div>
       </div>
     </div>
     </div>
  </div>
 </div>
 <!--=================================
  layout: 404.html -->
