---
layout: default
---
<!--=================================
header -->

<header class="header">
  <nav id="menu" class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ baseurl }}/"> <img id="logo_img" src="{{ baseurl }}/assets/images/logo.png" alt="Home"> </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ baseurl }}/">Home</a></li>
        <li class="active"><a href="{{ baseurl }}/blog/">Blog </a></li>
        <li><a href="{{ baseurl }}/blog-single.html">Blog single</a></li>
        <li><a href="{{ baseurl }}/portfolio-single.html">Portfolio single</a></li>
        <li><a href="{{ baseurl }}/404.html">Error 404</a></li>
      </ul>
    </div>
  </nav>
</header>
<!--=================================
header -->
<!--=================================
intro -->

<div class="page-header bg gradient-01">
  <div class="container-fluid">
    <div class="row">
      <div class="top-bar clearfix">
        <div class="back-home pull-left">
          <a href="index.html"><span class="ti-angle-left"></span> back to home</a>
        </div>
        <ul class="breadcrumb pull-right">
          <li><a href="index.html"><span class="ti-home"></span> Home</a></li>
          <li class="active">Blog</li>
        </ul>
      </div>
      <div class="page-header-title">
        <h1>blog page</h1>
        <span>Piotr Kowalski Blog</span>
      </div>
    </div>
  </div>
</div>

<!--=================================
intro -->

<!--=================================
blog -->
<section class="blog blog-page white-bg page-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="blog-block">
          <div class="blog-image">
            <img class="img-responsive" src="/assets/images/blog/01.jpg" alt="">
            <div class="blog-date">
              <span>June <br />05</span>
            </div>
          </div>
          <div class="blog-info">
            <div class="blog-meta">
              <p><span class="ti-comment-alt"></span> <a href="#">4</a></p>
              <p><span class="ti-user"></span> <a href="#">Admin </a></p>
              <p><span class="ti-folder"></span> <a href="#">Web development</a></p>
            </div>
            <div class="blog-content">
              <a href="blog-single.html">Does Your Life Lack Meaning</a>
              <p>Commodo consequat ut enim ad minim niam, quis nostru Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class="blog-bottom clearfix">
                <div class="button-small">
                  <a href="#">Read More..</a>
                </div>
                <div class="social pull-right">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-block">
          <div class="blog-image">
            <img class="img-responsive" src="/assets/images/blog/02.jpg" alt="">
            <div class="blog-date">
              <span>June <br />05</span>
            </div>
          </div>
          <div class="blog-info">
            <div class="blog-meta">
              <p><span class="ti-comment-alt"></span> <a href="#">4</a></p>
              <p><span class="ti-user"></span> <a href="#">Admin </a></p>
              <p><span class="ti-folder"></span> <a href="#">Web development</a></p>
            </div>
            <div class="blog-content">
              <a href="blog-single.html">Are You Famous Or Focused</a>
              <p>Commodo consequat ut enim ad minim niam, quis nostrud exercitation ullamco laboris nisi at aliquip</p> <p>Exea quis nostru Lorem ipsum dolor sit amet, consectetur adipisicing elit ullamco laboris nisi ut Auis nostrud exercitation ullamco laboris</p>
              <div class="blog-bottom clearfix">
                <div class="button-small">
                  <a href="#">Read More..</a>
                </div>
                <div class="social pull-right">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="blog-block">
          <div class="blog-image">
            <img class="img-responsive" src="/assets/images/blog/03.jpg" alt="">
            <div class="blog-date">
              <span>Aug <br />15</span>
            </div>
          </div>
          <div class="blog-info">
            <div class="blog-meta">
              <p><span class="ti-comment-alt"></span> <a href="#">0</a></p>
              <p><span class="ti-user"></span> <a href="#">Admin </a></p>
              <p><span class="ti-folder"></span> <a href="#">Web Design</a></p>
            </div>
            <div class="blog-content">
              <a href="blog-single.html">Harness The Power Of Your Dreams</a>
              <p>Exercitation ullamco laboris nisi ut Auis nostrud exercitation ullamco laboris.</p> <p>Consectetur adipisicing elit. Fugiat eveniet quasi, aperiam deleniti doloribus placeat eligendi autem et quod odio illo. </p>
              <div class="blog-bottom clearfix">
                <div class="button-small">
                  <a href="#">Read More..</a>
                </div>
                <div class="social pull-right">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-block">
          <div class="blog-image">
            <img class="img-responsive" src="/assets/images/blog/04.jpg" alt="">
            <div class="blog-date">
              <span>Sep <br />11</span>
            </div>
          </div>
          <div class="blog-info">
            <div class="blog-meta">
              <p><span class="ti-comment-alt"></span> <a href="#">7</a></p>
              <p><span class="ti-user"></span> <a href="#">Admin </a></p>
              <p><span class="ti-folder"></span> <a href="#">WordPress</a></p>
            </div>
            <div class="blog-content">
              <a href="blog-single.html">Does Your Life Lack Meaning</a>
              <p>Fugiat eveniet quasi consectetur adipisicing elit aperiam deleniti doloribus placeat eligendi autem et quod odio illo. Accusamus perferendis voluptatem inventore debitis labore repellat eveniet, quos.exea commodo consequat at enim ad minim niam.  </p>
              <div class="blog-bottom clearfix">
                <div class="button-small">
                  <a href="#">Read More..</a>
                </div>
                <div class="social pull-right">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="blog-block">
          <div class="blog-image">
            <img class="img-responsive" src="/assets/images/blog/05.jpg" alt="">
            <div class="blog-date">
              <span>June <br />05</span>
            </div>
          </div>
          <div class="blog-info">
            <div class="blog-meta">
              <p><span class="ti-comment-alt"></span> <a href="#">4</a></p>
              <p><span class="ti-user"></span> <a href="#">Admin </a></p>
              <p><span class="ti-folder"></span> <a href="#">Web development</a></p>
            </div>
            <div class="blog-content">
              <a href="blog-single.html">Don T Let The Outtakes Take You</a>
              <p>Similique corporis perspiciatis totam Lorem ipsum dolor sit amet consectetur nisi ut aliquip exea commodo consequat ut enim ad minim niam. </p>
              <div class="blog-bottom clearfix">
                <div class="button-small">
                  <a href="#">Read More..</a>
                </div>
                <div class="social pull-right">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-block">
          <div class="blog-image">
            <img class="img-responsive" src="/assets/images/blog/06.jpg" alt="">
            <div class="blog-date">
              <span>June <br />05</span>
            </div>
          </div>
          <div class="blog-info">
            <div class="blog-meta">
              <p><span class="ti-comment-alt"></span> <a href="#">4</a></p>
              <p><span class="ti-user"></span> <a href="#">Admin </a></p>
              <p><span class="ti-folder"></span> <a href="#">Web development</a></p>
            </div>
            <div class="blog-content">
              <a href="blog-single.html">How I Lost The Secret Of Dazzling </a>
              <p>Auis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat ut enim ad minim niam. </p>
              <div class="blog-bottom clearfix">
                <div class="button-small">
                  <a href="#">Read More..</a>
                </div>
                <div class="social pull-right">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="blog-block">
          <div class="blog-image">
            <img class="img-responsive" src="/assets/images/blog/07.jpg" alt="">
            <div class="blog-date">
              <span>Sep <br />11</span>
            </div>
          </div>
          <div class="blog-info">
            <div class="blog-meta">
              <p><span class="ti-comment-alt"></span> <a href="#">7</a></p>
              <p><span class="ti-user"></span> <a href="#">Admin </a></p>
              <p><span class="ti-folder"></span> <a href="#">WordPress</a></p>
            </div>
            <div class="blog-content">
              <a href="blog-single.html">Burning Desire Golden Key Or Red</a>
              <p>Pliquip exea commodo consequat at enim ad minim niam auis nostrud exercitation ullamco laboris nisi ut quia eos esse vel! Placeat.quip exea commodo consequat at enim ad minim niam   </p>
              <div class="blog-bottom clearfix">
                <div class="button-small">
                  <a href="#">Read More..</a>
                </div>
                <div class="social pull-right">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-block">
          <div class="blog-image">
            <img class="img-responsive" src="/assets/images/blog/08.jpg" alt="">
            <div class="blog-date">
              <span>Sep <br />11</span>
            </div>
          </div>
          <div class="blog-info">
            <div class="blog-meta">
              <p><span class="ti-comment-alt"></span> <a href="#">7</a></p>
              <p><span class="ti-user"></span> <a href="#">Admin </a></p>
              <p><span class="ti-folder"></span> <a href="#">WordPress</a></p>
            </div>
            <div class="blog-content">
              <a href="blog-single.html">When You Are Down And Out How</a>
              <p>Auis nostrud exercitation ullamco laboris nisi ut ali Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel! Placeat.quip exea commodo consequat at enim ad minim niam.  </p>
              <div class="blog-bottom clearfix">
                <div class="button-small">
                  <a href="#">Read More..</a>
                </div>
                <div class="social pull-right">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--=================================
    paginator -->
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <ul class="pagination">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!--=================================
    paginator -->

    <!--=================================
    paginator -->
    {{ content }}

    <!--=================================
    paginator -->
    
  </div>
</section>

<!--=================================
blog -->

{% include common-contact.html %}