<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Piotr Kowalski Personal Page Resume CV" />
<meta name="description" content="Piotr Kowalski - Personal Page - Resume / CV" />
<meta name="author" content="piotrkowalski.info" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- Theme color Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2f3742">
<!-- Theme color Windows Phone -->
<meta name="msapplication-navbutton-color" content="#2f3742">
<!-- Theme color iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2f3742">
<title>Piotr Kowalski - Personal Page - Resume / CV </title>

<!-- Favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico" />
{% include favicon.html %}

<!-- bootstrap -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- google font -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic,700,700italic,800,800italic' rel='stylesheet' type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200italic,200,300,300italic,400italic,500,500italic,600,600italic,700italic,900italic,900,800,700,800italic' rel='stylesheet' type="text/css" />

<!-- themify icon -->
<link href="assets/css/themify-icons.css" rel="stylesheet" type="text/css" />

<!-- font awesome  -->
<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!-- magnific popup -->
<link href="assets/css/magnific-popup.css" rel="stylesheet" type="text/css" />

<!-- jquery-ui -->
<link rel='stylesheet' href='assets/css/jquery-ui.css'>

<!-- main style -->
<link href="assets/css/style.css" rel="stylesheet" type="text/css" />

<!-- main style - blue override -->
<link href="assets/css/skins/skin-blue.css" rel="stylesheet" type="text/css" />

<!-- responsive -->
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />

</head>

<body>

<!--=================================
  loading -->
 <div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
  </div>
 </div>
</div>
<!--=================================
  loading -->

<!--=================================
  header -->

{% include header.html %}

<!--=================================
  header -->

<!--=================================
  intro -->
{% include intro.html %}
<!--=================================
  intro -->

<!--=================================
  about -->
{% include about.html %}
<!--=================================
  about -->

<!--=================================
  services -->
{% include services.html %}
<!--=================================
  services -->

<!--=================================
  Resume -->
{% include resume.html %}
<!--=================================
  Resume -->


<!--=================================
  My Skill -->
{% include my-skill.html %}
<!--=================================
  My Skill -->


<!--=================================
 portfolio -->
{% include portfolio.html %}
<!--=================================
 portfolio -->


<!--=================================
 calendar -->
{% include calendar.html %}
<!--=================================
 calendar -->


<!--=================================
 blog -->
{% include blog.html %}
<!--=================================
 blog -->

<!--=================================
 testimonials -->
{% include testimonials.html %}
<!--=================================
 testimonials -->

<!--=================================
 contact -->
{% include contact.html %}
<!--=================================
 contact -->

<!--=================================
 javascript -->

<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>

<!-- modernizr -->
<script src="assets/js/modernizr.min.js"></script>

<!-- Plugins -->
<script src="assets/js/plugins.js"></script>

<!-- map script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjVoaCW3PAn52C7WPpJ7NBBqU1_TUfnSI"></script>
<script src="assets/js/map-scripts.js"></script>

<!-- datepicker -->
<script src="assets/js/datepicker-script.js"></script>

<!-- custom -->
<script src="assets/js/custom.js"></script>

</body>
</html>